extends /layouts/app.pug

//- block content
//-   h2.text-center.mt-3 Authorization
//-   .mt-3.form-group.col-lg-3.mx-auto
//-     form(action=urlFor('sessions#create') method='post')
//-       +input(f, 'email', 'fa fa-envelope-o fa-fw')
//-       +input(f, 'password', 'fa fa-key fa-fw', { as: 'password' })
//-       +button('Sign In')

block content
  .container
    h1.text-center.my-5 Authorisation
    .row.justify-content-center.pb-5
      .col-12.col-lg-4
        +formFor(f, { url: urlFor('sessions#create'), method: 'post' })
          +input(f, 'email', 'name@example.com')
          +input(f, 'password', 'Password', { as: 'password' })
          +button('Sign In')