extends /layouts/app.pug

block content
  .container
    h1.text-center.my-5 Edit profile
    .row.justify-content-center.pb-5
      .col-12.col-lg-4
        +formFor(f, { url: urlFor('users#update', { id }), method: 'post' })
          +input(f, 'email', 'e-mail', { label: 'e-mail'})
          +input(f, 'firstName', 'First Name', { label: 'First Name'})
          +input(f, 'lastName', 'Last Name', { label: 'Last Name' })
          +patchButton({ target: 'users#update', id, label: 'Save Profile' })