extends /layouts/app.pug

block content
  h2.text-center.my-4 Users
  table.table.table-stripped.my-4
    tr
      th.text-center ID
      th.text-center Full Name
      th.text-center Email
      th.text-center Created At
    tbody
      each user in users
        tr
          td.text-center= user.id
          td.text-center= user.fullName || '-'
          td.text-center= user.email
          td.text-center= user.createdAt