extends /layouts/app.pug

block content
  if isSignedIn()
    .container.align-content-center.justify-content-center
      .pt-4.pb-2
        - const usersProfileTitle = `${user.fullName}'s profile`
          h2.text-center= usersProfileTitle
    .container.col-lg-6
      .form-group.justify-content-center
        +smallField({ label: 'Full name', value: user.fullName })
        +smallField({ label: 'E-mail', value: user.email })
        +smallField({ label: 'ID', value: user.id })
        .row.inline.justify-content-center
          +editButton({ target: 'users#edit', id: user.id, label: 'Edit Profile' })
          +deleteButton({ target: 'users#delete', id: user.id, label: 'Delete Account' })