extends /layouts/app.pug

block content
  if isSignedIn()
    .container.align-content-center.justify-content-center
      .pt-4.pb-2
        - const usersProfileTitle = `${user.fullName}'s profile`
          h2.text-center= usersProfileTitle
    .container.col-lg-6
      .form-group.justify-content-center
        +smallField({ label: 'Full name', value: user.fullName })
        +smallField({ label: 'E-mail', value: user.email })
        +smallField({ label: 'ID', value: user.id })
        .row.inline.justify-content-center
          .col-4
            +formFor(f, { url: urlFor('users#edit', user.id) })
              +button('Edit Profile', 'warning', 'submit')
          .col-4
            a.btn.btn-danger.btn-block(href=urlFor('users#delete', user.id) data-method='delete'
            rel='nofollow' data-confirm='Are you sure want to delete account?') Delete Account